.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

p a {
  text-decoration: none;
  color: #fff;
}

.navbar a.active {
  background-color: var(--color-secondary);
  color: white;
}

.navstate:hover, .navstate:active {
  background: var(--color-primary);
}

.current {
  background: var(--color-secondary);
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  overflow: hidden;
  position: sticky;
  top: 0;
}

.list {
  float:right;
}

.list a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  width: 200px;
}
